@charset "utf-8";

/* I added in a background image and made it so the picture would fit. I also displayed this as a flex box with a certin growth and shrink rate and as rows that wrap*/
html {

    font-family: 'Courier New', Courier, monospace;
    display: flex;
    display: -webkit-flex;
    flex: 0 2 auto;
    -webkit-flex: 0 2 auto;
    flex-flow: row wrap;
    background-image: url('https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* I add the background color of where my text would be and the color and size of my text. I also changed the line-height and the margin. I also displayed this as a flex box with a certin growth and shrink rate and as columns that wrap*/
body {
    background-color: rgba(15, 109, 78, 0.79);
    color: rgb(194, 230, 95);
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    display: -webkit-flex;
    flex: 0 2 auto;
    -webkit-flex: 0 2 auto;
    flex-flow: column wrap;
    min-height: 38em;
    height: 100%;
    width: 100%;
}





/* This sets up the color of all titles  */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(30, 221, 157);
}

/* I changed up the color of links in there different states */
a:link,
a:visited {
    text-decoration: none;
    color: rgb(194, 230, 95);
}

a:hover,
a:active {
    background-color: rgb(194, 230, 95);
    color: rgb(15, 109, 78);
    text-decoration: none;
}

/* This takes away the disc in front of list items  */
ul {
    list-style-type: none;
}

/* I set up the footer. */
footer {
    text-align: center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

/* Prevents container collapse */
footer::after {
    clear: both;
    content: "";
    display: table;
}

/* I aligned the the text of my home page and set up a margin. I also displayed this as a flex box with a certin growth and shrink rate and as rows that wrap */
article {
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    display: -webkit-flex;
    flex: 0 2 auto;
    -webkit-flex: 0 2 auto;
    flex-flow: column wrap;
}

/* I set up the size, alignment and padding of my header. */
header h1 {
    font-size: 3em;
    text-align: center;
}

/* Makes the nav icon disapear from the page */
a#navicon {
    display: none;
}

/* Mobile */
/* This sets up the mobile design */
/* I had to incerease the max width because there was no other way for me to fix the page */
@media only screen and (max-width:620px) {

    /* I displayed this as a flex box with a certin growth and shrink rate and as columns that wrap and set the font size up  */
    body {
        display: flex;
        display: -webkit-flex;
        flex-flow: column wrap;
        font-size: 1em;
        min-height: 720px;
    }

    /* This sets up the nav in the mobile design so that it works as a flex box and is aligned in the correct place */
    nav {
        list-style-type: none;
        display: flex;
        display: -webkit-flex;
        flex: 1 2 auto;
        -webkit-flex: 1 2 auto;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    ul {
        display: flex;
        display: -webkit-flex;
        flex: 1 2 auto;
        -webkit-flex: 1 2 auto;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        margin: none;
        width: 100%;
        margin: 0 0 0 2em;
        padding: 0px;
    }

    header ul li {
        width: 100%;
    }

    header ul li a {
        display: flex;
        display: -webkit-flex;
        flex: 1 2 auto;
        -webkit-flex: 1 2 auto;
        text-align: center;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Makes the navicon reappear */
    a#navicon {
        display: block;
        margin-left: 2em;
    }

    /* This makes it so the nav only appears when you hover over the navicon */
    nav ul {
        display: none;
    }

    a#navicon:hover+ul,
    nav ul:hover {
        display: block;
    }
}

/* This helps fix the nav so that it is responsive when out of mobile design. */
@media only screen and (min-width:621px) {

    nav {
        font-size: .8em;
        list-style-type: none;
        width: 100%;
        position: relative;
    }

    ul {
        display: flex;
        display: -webkit-flex;
        flex: 0 2 auto;
        -webkit-flex: 0 2 auto;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        width: 100%;
        padding: 0px;
    }

    header ul li {
        width: 25%;
    }

    header ul li a {
        display: flex;
        display: -webkit-flex;
        flex: 0 2 auto;
        -webkit-flex: 0 2 auto;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;

        justify-content: center;
        align-items: center;
        margin: 0 .1em;
        width: 100%;
    }
}

@media only screen and (min-width:770px) {
    nav {

        font-size: 1em;
    }
}

/* Both of these help there be no white space when placed on a Ipad or Ipad pro */
@media only screen and (min-height:1024px) {
    body {
        min-height: 1024px;
    }
}

@media only screen and (min-height:1366px) {
    body {
        min-height: 1366px;
    }
}