@charset "utf-8";

/* I added in a background image and made it so the picture would fit. */
html {
    background-image: url('https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

/* I add the background color of where my text would be and the color and size of my text. I also changed the line-height and the margin.*/
body {
    background-color: rgba(15, 109, 78, 0.795);
    color: rgb(194, 230, 95);
    font-size: 1.5em;
    line-height: 1.5em;
    grid-template-rows: 20% 70% 10%;
    min-height: 710px;
}



section {
    grid-template-rows: 20% 80%;
}

nav {
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    list-style-type: none;
    display: block;
}

li {
    display: block;
    width: 25%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(30, 221, 157);
}

/* I changed up the links and there state in the nav and st up the nav. */
a:link,
a:visited {
    text-decoration: none;
    color: rgb(194, 230, 95);
}



a:hover,
a:active {
    background-color: rgb(194, 230, 95);
    color: rgb(15, 109, 78);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* I set up the footer. */
footer {
    text-align: center;
    margin-top: 2em;
}

/* I aligned the the text of my home page. */
article h2,
article p {
    text-align: center;
}

dt {
    text-align: center;
    font-weight: bold;
}

/* I set up the nav structure and layout. */




/* I set yp the size, alignment and padding of my header. */
header h1 {
    font-size: 3em;
    text-align: center;

}

footer p {
    margin: 0em;
}

header {
    padding-top: 1em;
    margin-bottom: 6em;
}

footer {
    clear: both;
    content: "";
    display: table;
    margin-left: auto;
    margin-right: auto;
}