/* I added in a background image and made it so the picture would fit. */
html {
    background-image: url('https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=395debe4f66b27cd8fb346d73cffb70c&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* I add the background color of where my text would be and the color and size of my text. I also changed the line-height. */
body {
    background-color: black;
    color: white;
    font-size: 1em;
    line-height: 1.5em;

}

/* I changed up the links and there state in the nav and st up the nav. */
body>header>nav>ul>li>a:link,
body>header>nav>ul>li>a:visited {
    text-decoration: none;
    color: white;
}

body>header>nav>ul>li>a:hover,
body>header>nav>ul>li>a:active {
    background-color: white;
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* I set up the footer. */
footer {
    text-align: center;
    margin-top: 6em;

}

/* I aligned the the text of my home page. */
article h2,
article p {
    text-align: center;
}

/* I set up the nav structure and layout. */
header>nav {
    display: table;
    width: 100%;
}

header>nav>ul {
    display: table-row;
    list-style-type: none;
}

header>nav>ul>li {
    display: table-cell;
    text-align: center;
}

/* I set up the links in the footer. */
footer>address>a:hover,
footer>address>a :active {
    background-color: white;
    color: black;
    text-decoration: none
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: white;
}

/* I set yp the size, alignment and padding of my header. */
header h1 {
    font-size: 3em;
    text-align: center;

}

header {
    padding-top: 1em;
}